* {
	box-sizing: border-box;
	font-family: roboto;
	margin: 0px;
	padding: 0px;
}


body {
	margin: 0px;
	padding: 0px;
	height: 100vh;
	background-color: #212121;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	font-family: roboto;
	border-radius: 12px;
	width: 85%;
	padding: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	background-image: linear-gradient(135deg, #00feba, #5b548a);
}

.search {
	margin: 40px;
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
}

.search input {
	border: 0;
	outline: 0;
	background-color: #ebfffc;
	color: #555;
	padding: 10px 25px;
	height: 40px;
	border-radius: 30px;
	flex: 1;
	margin-right: 16px;
	width: 210px;
	font-family: roboto;

}

.search button {
	width: 45px;
}

.search-button {
	border: none;
	background: none;
	height: 40px;
	min-width: 50px;
	background-color: #ebfffc;
	border-radius: 300px;
}

.search button img {
	width: 26px;
	border-radius: 50%;
}

p,
h1,
h2 {
	color: white;
}

.weather-icon {
	height: 170px;
	margin-top: 30px;
}

.weather h1 {
	font-size: 80px;
	font-weight: 500;
}

.weather h2 {
	font-size: 45px;
	font-weight: 400;
	margin-top: -10px;
}

.details {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 50px;
}

.col {
	display: flex;
	align-items: center;
	text-align: left;
	margin: 8px;
}

.col img {
	width: 40px;
	margin-right: 5px;
}

.humidity {
	font-size: 18px;
	margin-top: -6px;
}

.wind {
	font-size: 17px;
	margin-top: -6px;
}

.wind-text {
	text-wrap: nowrap;
	color: #fff;
	font-size: 15px;
}

.error {
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 14px;
	display: none;
}

.weather {
	display: none;
}

.mid {
	position: absolute;
	font-family: 'Exo 2', sans-serif;
	font-size: 8px;
	bottom: 10px;
	opacity: 0.4;
}

a {
	text-decoration: none;
	color: #E0E0E0;
}